@import "../../variables.scss";

.header {
    padding: 15px 0 15px 0;
    background-color: $header-color;
}

.search-text {
    font-size: $search-box-size-text;
    color: $input-text-color;
}

::placeholder {
    color: $placeholder-color;
}

.padding-left-from-image {
    padding-left: 80px;
}
