.header {
    padding: 15px 0 15px 0;
    background-color: #FFE600;
}

.search-text {
    font-size: 18px !important;
    color: #333333;
}

::placeholder {
    color: #999999;
}

.padding-left-from-image {
    padding-left: 80px;
}
