@import "../../variables.scss";

.search-results {
    padding: 40px 15px 0 15px;
}

.split-bar {
    margin: 5px 30px;
}

.card {
    border: 0;
}

.card-body {
    padding: 0;
}

.card-header {
    width: $card-thumb-size;
    height: $card-thumb-size;
    padding: $primary-separation;
}

.card-block {
    width: 75%;
    padding-top: 30px;
}

.product-price {
    font-size: $search-font-size-price;
    color: $input-text-color;
}

.product-description {
    font-size: $search-font-size-descr;
    margin-top: $secondary-separation;
    color: $description-text-color;
}

.product-state {
    font-size: $search-font-size-state;
    color: $placeholder-color;
    font-weight: 600;
}

.image-thumb {
    max-height: $thumb-size;
    max-width: $thumb-size;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: $thumb-border-radius;
}

.image-truck {
    padding: 0px 0px 5px 10px;
}

.product-description:hover {
    cursor: pointer;
}

.card-header:hover {
    cursor: pointer;
}

.bottom-space {
    height: 20px;
}