$header-color: #FFE600;
$input-text-color: #333333;
$description-text-color: #666666;
$placeholder-color: #999999;
$backgroud-color: #EEEEEE;
$button-color: #3483FA;

$primary-separation: 16px;
$secondary-separation: 32px;

$font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
$font-size-title: 24px;
$font-size-descr-title: 28px;
$font-size-description: 16px;
$font-size-condition: 14px;
$font-size-price: 46px;

$main-container-width: 1626px;

$descr-image-size: 680px;